<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>SimpleTempMail</title>
    <link rel="stylesheet" href="//brobin.github.io/hacker-bootstrap/css/hacker.css">
</head>
<body>
    <div class="row tall-row">
    <div class="col-lg-12">
        <center><h1>SimpleTempMail</h1></center>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="well">
            <form class="form-horizontal" action="/inbox" method="POST">
                <fieldset>
                    <center><legend>Input or generate credentials</legend></center>
                    <div class="form-group">
                        <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                        <div class="col-lg-10">
                            <input class="form-control" name="email" id="email" placeholder="{{'Email or username' if address == None else address}}" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword" class="col-lg-2 control-label">Password</label>
                        <div class="col-lg-10">
                            <input class="form-control" name="password" id="password" placeholder="{{'Password' if password == None else password}}" type="password">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"> Remember
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <button type="reset" class="btn btn-default">Cancel</button>
                            <button type="submit" class="btn btn-primary">Login/Generate</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="alert alert-dismissible alert-success">
            <center><strong>Welcome to SimpleTempMail!</strong></center>
            <center>Input credencials to login on a existent account or leave blank for random values</center>
            <br><center>By p0isonBR</center>
            <center><a href="https://t.me/p0isonBR">Telegram</a></center>
        </div>
    </div>
</body>
</html>
